{% extends 'core/hub.html' %}
{% load static %}

{% block hub_submenu_title %}
    <h3>Last Bills</h3>
{% endblock %}

{% block hub_content_box %}
<link rel="stylesheet" href="{% static 'core/css/hub_content_layout.css' %}">
<link rel="stylesheet" href="{% static 'core/css/hub_last_bills.css' %}">

<section class="hub-content-column">
{# Top row of Hub.Last-Bills section. Responsible for opened closed bills. #}
    <span><b>Pending</b></span>
    <article class="bills-row">
    {% if last_pending_bills %}
        {% for bill in last_pending_bills %}
        <div class="bill-item">

            {% include 'core/bill_unit.html' %}

        </div>
        {% endfor %}
    {% else %}
        <h3>No records</h3>
    {% endif %}
    </article>

    <span><b>Closed</b></span>
    <article class="bills-row">

    {% if last_closed_bills %}
        {% for bill in last_closed_bills %}
        <div class="bill-item">

            {% include 'core/bill_unit.html' %}

        </div>
        {% endfor %}
    {% else %}
        <h3>No records</h3>
    {% endif %}
    </article>
{% endblock %}
</section>