{% extends 'core/hub.html' %}
{% load static %}

{% block hub_submenu_title %}
    <h3>New Record</h3>
{% endblock %}

{% block hub_content_box %}
<link rel="stylesheet" href="{% static 'core/css/hub_content_layout.css' %}">
<link rel="stylesheet" href="{% static 'core/css/hub_new_service_record.css' %}">

<section class="hub-content-row">
<div id="service-record-form">

    <form method="POST" action="">
    {% csrf_token %}

    {{ bill_form.as_p }}
    {{ payment_form.as_p }}

    <input type="submit" name="Submit a Bill">
    </form>
</div>
</section>

{% endblock %}