{% load static %}

{# Side navigation bar. Service options #}

    <nav class="sidebar-nav">
        <ul class="sidebar-container">
            <li class="sidebar-item">
                <a href="#"><img src="{% static 'core/img/bulb-light-icon.svg' %}" alt="Light">Light</a>
            </li>
            <hr>
            <li class="sidebar-item">
                <a href="#"><img src="{% static 'core/img/water-icon.svg' %}" alt="Water">Water</a>
            </li>
            <hr>
            <li class="sidebar-item">
                <a href="#"><img src="{% static 'core/img/burning-fire-icon.svg' %}" alt="Gas">Gas</a>
            </li>
            <hr>
            <li class="sidebar-item">
                <a href="#"><img src="{% static 'core/img/expand-plus-icon.svg' %}" style="width: 20px;" alt="Add">add</a>
            </li>
        </ul>
    </nav>
