h2 {
    margin-bottom: 20px;
    padding-left: 25px;
}

#service-record-form form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    width: 80%;
    gap: 20px;
}

.form-control {
    width: 120px;
}

.hub-body {
    display: flex;
    width: 100%;
    min-height: 350px;
}

.hub-menu-buttons {
    display: flex;
    flex-direction: column;
    min-width: 110px;
    height: 100%;
    justify-content: start;
}

.hub-menu-buttons a {
    text-decoration: none;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    text-align: right;

}

.hub-menu-content {
    display: flex;
    width: 85%;
    padding: 20px;
    border: 1px solid black;
    flex-grow: 1;
}